/* Home.css */

.bg-custom-background {
    background-image: url('E:\Projects\titfortat\petmeUp\frontend\src\img\background.jpg');
    background-size: cover; /* Adjust the size as needed */
    background-position: center; /* Adjust the position as needed */
  }
  